@glu:registry=http://ux-nexus.saas-n.com/repository/ux-npm-group/
strict-ssl=false

@cfrm:registry=https://nexus.cfrm.dev.local/repository/cfrmx-npm-group/
@ptx:registry=https://ptx-nexus.saas-n.com/repository/npm-ptx/

init.author.name = Marcin Wojtala
init.author.email = marcin.wotjala@bottomline.com
init.author.url = http://bottomline.com/
# an email is required to publish npm packages
email=marcin.wotjala@bottomline.com
always-auth=true
_auth=bWFyY2luLndvdGphbGE6cGFzc3dvcmQ=