workspaces-experimental true
"@stephanepericat:registry" "https://npm.pkg.github.com/stephanepericat"
"@ptx:registry" "https://ptx-nexus.saas-n.com/repository/npm-ptx/"
"npmAlwaysAuth" "true"
"npmAuthToken" "bWFyY2luLndvdGphbGE6cGFzc3dvcmQ="
"email" "marcin.wotjala@bottomline.com"
"init.author.name" "Marcin Wojtala"
"init.author.email" "marcin.wotjala@bottomline.com"
"init.author.url" "http://bottomline.com/"